	<div class="top-bg"></div>
	
	<div class="clearboth"></div>
	<!-- 主体 开始 -->
	<div id="aboutus-main">
		<!-- 左边 开始 -->
		<?{include file = "archives/_cloumnleft.html"}?>		
		<!-- 左边  结束 -->

		<!-- 右边 开始 -->
		<div id="aboutus-right">
			<div id="aboutus-right-block">
				<div class="arb-top"></div>
				<div class="arb-middle">
					<?{$arrInfo.intro|stripslashes}?>
				</div>
				<div class="arb-bottom"></div>
			</div>
		</div>
		<!-- 右边 结束 -->
	</div>
	<!-- 主体 结束 -->

	<div class="clearboth"></div>
	<div id="footer-logo"><img src="/images/index-info.gif"></div>