<div class="area">
<!-- 注册 开始 -->
	<div class="column">
		<div class="tit"><h2>找回密码</h2></div>
		<div class="register-box">
			<form method="post" name="register" action="#">
			<div class="column-title">基本信息（必填项）</div>
			<ul class="register-list">
				<li><span>用户名：</span><INPUT type="text" size="20" value="" name="user_name"> 4-20位，请使用英文、数字，注意不要使用符号</li>			
				<li><span>邮箱：</span><INPUT type="text" size="20" value="" name="email"> 取回遗忘密码的重要渠道</li>			
			</ul>		
			<div class="register-button"><input type="image" name="..." src="<?{$arrGWeb.templats_root}?>/images/register-button.gif" width="100" height="24" value="提交" /></div>
			</form>
		</div>
	</div>
<!-- 注册 结束 -->
</div>
<div class="block10"></div>