		<div class="block7"></div>
		<div class="help-left">
		<div id="left-porduct-type">
			<div class="tit"><h2>基本设置</h2></div>
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/user/adminu/modify_user.php">修改用户资料</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/user/adminu/modify_userpwd.php">修改密码</a></li>
			</ul>
		</div>
		<div class="block7"></div>
		<div id="left-porduct-type">
			<div class="tit"><h2>供求信息</h2></div>
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/trade/adminu/addinfo.php">发布供求信息</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/trade/adminu/index.php">管理供求信息</a></li>
			</ul>
		</div>
		<div class="block7"></div>
		<div id="left-porduct-type">
			<div class="tit"><h2>行业资讯</h2></div>
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/news/adminu/addinfo.php">发布资讯信息</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/news/adminu/index.php">管理资讯信息</a></li>
			</ul>
		</div>
		<div class="block7"></div>
		<div id="left-porduct-type">
			<div class="tit"><h2>网上商展</h2></div>
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/product/adminu/addinfo.php">发布产品信息</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/product/adminu/index.php">管理产品信息</a></li>
			</ul>
		</div>
		<div class="block7"></div>
		<div id="left-porduct-type">
			<div class="tit"><h2>企业黄页</h2></div>
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/company/adminu/addinfo.php">发布企业信息</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/company/adminu/index.php">管理企业信息</a></li>
			</ul>
		</div>
		<div class="block7"></div>
		<div id="left-porduct-type">
			<div class="tit"><h2>会展信息</h2></div>
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/exhibition/adminu/addinfo.php">发布会展信息</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/exhibition/adminu/index.php">管理会展信息</a></li>
			</ul>
		</div>
		<div class="block7"></div>
		<div id="left-porduct-type">
			<div class="tit"><h2>人才招聘</h2></div>
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/job/adminu/addinfo.php">发布招聘信息</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/job/adminu/index.php">管理招聘信息</a></li>
			</ul>
		</div>
		<div class="block7"></div>
		<div id="left-porduct-type">
			<div class="tit"><h2>有问必答</h2></div>
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/ask/adminu/addinfo.php">发布问题信息</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/ask/adminu/index.php">管理问题信息</a></li>
			</ul>
		</div>
		<div class="block7"></div>
		<div id="left-porduct-type">
			<div class="tit"><h2>行业视频</h2></div>
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/video/adminu/addinfo.php">发布视频信息</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/video/adminu/index.php">管理视频信息</a></li>
			</ul>
		</div>
		</div>