<div class="area">
	<!-- 块 开始 -->
	<div class="mainright">
<?{include file = "useradmin/_cloumnright.html"}?>
	</div>
	<!-- 介绍 开始 -->
	<div class="mainleft">
		<div class="help-right">
		<div id="companies-list-box">
			<div class="tit"><h2>我的状态</h2></div>
			<div class="help-text-box">
				<ul>
					<li>尊敬的<strong><?{$smarty.session.user_name}?></strong>您好:</li>
					<li>欢迎您光临会员中心！</li>
					<li>请在左侧导航栏里选择你要进行的操作！</li>
					<li><a class="font-red" href="<?{$arrGWeb.WEB_ROOT_pre}?>/user/logout.php">退出登陆</li></li>
				</ul>
				
 			</div>
		</div>
		</div>
	</div>
	<!-- 介绍 结束 -->
</div>
<div class="block10"></div>