<div class="c"></div>
<div id="content">

<div class="wrapD">
<div class="wrapE">
<div class="boxB">
<div class="cgLeft"></div>
<div class="cg" style="margin-left:35%">
  <h1>恭喜，BIWEB WMS 商务智能网站系统已经安装成功！</h1>
  <ul class="listA">
    <li>系统前台地址 ： <a href="../index.php" target="_blank" style="color:#000">/index.php</a></li>
    <li>系统后台地址 ： <a href="..<?{$smarty.const.__WEBADMIN_ROOT}?>/" target="_blank" style="color:#000"><?{$smarty.const.__WEBADMIN_ROOT}?>/</a></li>
    <li>BIWEB官方论坛 ： <a href="http://bbs.biweb.cn" target="_blank" style="color:#000">http://bbs.biweb.cn</a></li>
  </ul>
</div>
</div>
<div class="c"></div>
</div>
</div>
<div class="stepbt"><input type="button" class="next biweb large" onClick="location.href='..<?{$smarty.const.__WEBADMIN_ROOT}?>/';" value="安装完成"></div>
</div>

</div>
