
<div class="block7"></div>
<?{include file = "`$arrGWeb.module_id`/block/search.html"}?>
<div class="block7"></div>

<div class="mapPlane" id="mapPlane">
   <div class="tit"><h2><?{if !empty($strKeywords)}?><?{$strKeywords}?>搜索结果<?{else}?><?{/if}?></h2></div>
 	<div class="fjclear"></div>
    <div class="advertising_list" id="advertising_list">
	<?{foreach from=$arrInfoList item=arrData}?>
        <div id="content"><div class="ad_item">
   <div class="item_left">
       <div class="item_image_box">
           <div class="itemImage">
                  <a href="<?{if $arrData.linkurl!=''}?><?{$arrData.linkurl}?><?{else}?><?{url url = "/`$arrGWeb.module_id`/detail.php?id=`$arrData.id`" cache = "`$arrGWeb.file_static`"}?><?{/if}?>" title="<?{$arrData.summary|csubstr:0:100}?>" target="_blank">
				
				  <img src="<?{if $arrData.thumbnail != ''}?>
				  <?{$FileCallPath}?>b/<?{$arrData.thumbnail}?>
				  <?{else}?><?{$arrGWeb.templats_root}?>/images/nopic.gif<?{/if}?>" 
				  onload='resizepic(this,100)' height="90" width="120"/>
				 </a>
           </div>
       </div>
   </div>
   <div class="itemDesc">
   <div class="itemTitle" id="itemTitle">
     <a target="_blank" href="<?{if $arrData.linkurl!=''}?><?{$arrData.linkurl}?><?{else}?><?{url url = "/`$arrGWeb.module_id`/detail.php?id=`$arrData.id`" cache = "`$arrGWeb.file_static`"}?><?{/if}?>" title="<?{$arrData.summary}?>"><?{$arrData.title}?></a></li>
   </div>
   <div class="itemIntroduction">
      <?{$arrData.summary}?>...<a target="_blank" href="<?{if $arrData.linkurl!=''}?><?{$arrData.linkurl}?><?{else}?><?{url url = "/`$arrGWeb.module_id`/detail.php?id=`$arrData.id`" cache = "`$arrGWeb.file_static`"}?><?{/if}?>" title="<?{$arrData.summary}?>">[详细]</a>
   </div>
   </div>
</div>
</div>
<?{/foreach}?>
</div>
    </div>
	<div class="clearboth">
				<ul class="sea-page">
					<li class="right"><?{$strPage}?></li>
				</ul>
	</div>
	
			
		