  <div class="wrapB">
	<div class="wrapC">
	  <div id="header">
		<div class="logo left"><img src="css/logo.gif" /></div>
		<div class="right"> <a href="http://bbs.biweb.cn" target="_blank" class="linkA">官方论坛</a> | <a href="http://bbs.biweb.cn" target="_blank" class="linkA">使用手册</a> | 
		 安装语言<select id="lang" name="lang" onchange="selectlang('lang');">
		<option value="zh" selected="selected">简体中文</option>
		</select>
		</div>
	  </div>
      <div id="main">
        <h2><span class="step"><?{$step}?></span> <?{$info}?></h2>
        <div class="installInfo">
        欢迎使用 <font class="softname">BIWEB WMS 商务智能网站管理系统</font> <font class="version"><?{$smarty.const.v}?></font> 安装向导，安装前请仔细阅读安装说明后才开始安装。安装文件夹里同样提供了有关软件安装的说明，请您仔细阅读。<div style="margin-top:.5em">安装过程中遇到任何问题 &nbsp;<a href="http://bbs.biweb.cn" target="_blank" class="black"><u><b>请到官方讨论区寻求帮助</b></u></a></div>
        </div>