<div class="area">
<!-- 注册 开始 -->
	<div class="column">
		<div class="tit"><h2>会员登陆</h2></div>
		<div class="register-box">
			<form method="post" name="register" action="#">
		
			<ul class="register-list">
				<li><span>用户名：</span><input type="text" name="User" /> 请输入你的账号</li>
				<li><span>密码：</span><input type="password" name="Pass" /> 请输入你的密码</li>
			</ul>			
			<div class="register-button"><input type="submit" name="submit" value='确定' />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="重设" /></div>
			</form>
		</div>
	</div>
<!-- 注册 结束 -->
</div>
<div class="block10"></div>