<div class="col3">
<?{include file = "user/block/login.html"}?>
		
		<div class="col3">
		<div class="block10"></div>
		<div id="precinct">
			<script language="JavaScript" src="<?{$arrGWeb.WEB_ROOT_pre}?>/uploadfile/ads/
		<?{if $arrGWeb.module_id eq 'trade'}?>20
		<?{elseif  $arrGWeb.module_id eq 'product'}?>30
		<?{elseif  $arrGWeb.module_id eq 'exhibition'}?>40
		<?{elseif  $arrGWeb.module_id eq 'job'}?>50
		<?{elseif  $arrGWeb.module_id eq 'news'}?>60
		<?{elseif  $arrGWeb.module_id eq 'video'}?>70
		<?{elseif  $arrGWeb.module_id eq 'company'}?>80
		<?{/if}?>.js"></script>
		</div><!--precinct end-->
	</div><!--area[2]>col3 end-->
</div><!--area[1]>col3 end-->