<div class="block7"></div>
<?{include file = "`$arrGWeb.module_id`/block/search.html"}?>
<div class="block7"></div>
<div class="area">
	<!-- 会展信息 开始 -->
	<div class="main-left">
		<div class="news-box">
			<h4 class="title"><?{$arrData.title}?></h4>
			<div class="news-detail-info">
				<UL>
					<li>发布时间：<?{$arrData.submit_date}?> 浏览率：<script language='javascript' src='../../plug-in/click/getclick.php?module_id=<?{$arrGWeb.module_id}?>&id=<?{$arrData.id}?>'></script><?{if $arrData.author != ''}?> 作者：<?{$arrData.author}?><?{/if}?><?{if $arrData.source != ''}?> 来源：<?{$arrData.source}?><?{/if}?>【字体：<a href="javascript:fontZoomA();">小</a> <a href="javascript:fontZoomB();">大</a> <a href="javascript:window.print();">打印</a> <a href="<?{url url = "/`$arrGWeb.module_id`/detail.php?id=`$arrData.id`" cache = "2"}?>">DOC</a>】<br />收藏到：<script src="../../plug-in/favorite/sc.js"></script></li>
				</UL>
			</div>
			<div class="news-text-box" id="fontzoom">
			</p>
			<p>
			<?{foreach from=$arrData.photo key=key item=photo}?>
				<?{if $photo.photo != ""}?><center><img src="<?{$FileCallPath}?>b/<?{$photo.photo}?>" align="center" border="0" alt="<?{$photo.photo_narrate}?>"  onload='resizepic(this,600)' /><br><?{if $photo.photo_narrate}?><?{$photo.photo_narrate}?><?{/if}?></center><br><?{/if}?>
			<?{/foreach}?>		
			<?{$arrData.intro}?>
			</p>
			</div>
				<div class="newstag">本文的关键词是：<span class='red'><?{$arrData.tag}?></span></div>
		</div><!-- news-box end-->
		

		<div class="block7"></div>
		<div class="type-info">
			<div class="tit"><h2>分类信息</h2></div>
			<div class="type-info-list">
				<ul><script language="JavaScript" src="../../uploadfile/textads/3.js"></ul></script>
			</div>
		</div><!--diseases1 end-->
		<div class='bottombox'>
		<?{include file="exhibition/block/relative.html"}?>
		<?{include file="exhibition/block/newest.html"}?>
		<div class='fjclear'></div>
		</div>
	</div><!--area[2]>col2 end-->

<?{include file = "`$arrGWeb.module_id`/_cloumnright.html"}?>
</div>
<div class="block10"></div>