<div id="footer">
	<ul>
		<li style="background: none;"><a target="_blank" href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=about">网站简介</a></li>
		<li><a target="_blank" href="<?{$arrGWeb.WEB_ROOT_pre}?>/user/login.php">网上投稿</a></li>
	    <li><a href="#"  onclick="SetHome(this,window.location);" title="设为首页">设为首页</a></li>
		<li><a target="_blank" href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=advertisement">广告联系</a></li>
		<li><a target="_blank" href="<?{$arrGWeb.WEB_ROOT_pre}?>/job/">人才招聘</a></li>
		<li><a target="_blank" href="<?{$arrGWeb.WEB_ROOT_pre}?>/links/">友情连接</a></li>
		<li><a target="_blank" href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=contact">联系方式</a></li>
		<li><a target="_blank" href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=copyright">知识产权</a></li>
		<li><a target="_blank" href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=statement">免责声明</a></li>
	</ul>
	<div class="fjclear"></div>
	<p class="footbr"><?{$arrGWeb.Powered}?> <?{$arrGWeb.Copyright}?> <?{if $arrGWeb.cert!=''}?><a href="http://www.miibeian.gov.cn"><?{$arrGWeb.cert}?></a><?{/if}?></p>
</div><!--footer end-->