<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
<!-- Favicon -->
<link rel="icon" href="<?{$arrGWeb.WEB_ROOT_pre}?>/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="<?{$arrGWeb.WEB_ROOT_pre}?>/favicon.ico" type="image/x-icon" />
<!-- JavaScript : Include and embedded version -->
<script src="<?{$arrGWeb.WEB_ROOT_pre}?>/plug-in/commonJS/index.js" type="text/javascript"></script>
<script src="<?{$arrGWeb.WEB_ROOT_pre}?>/plug-in/commonJS/common.js" type="text/javascript"></script>
<!-- CSS -->
<link href="<?{$arrGWeb.templats_root}?>/css/style.css" rel="stylesheet" type="text/css" />
<title><?{$Title}?></title>
<meta name="description" content="<?{$Description}?>" />
<meta name="keywords" content="<?{$Keywords}?>" />