		<div class="block7"></div>
		<div class="help-left">
		<div id="left-porduct-type">
			<ul class="help-list">
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=about">网站简介</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/user/login.php">网上投稿</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=advertisement">广告联系</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/job/">人才招聘</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=contact">联系方式</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=copyright">知识产权</a></li>
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=statement">免责声明</a></li>	
				<li><a href="<?{$arrGWeb.WEB_ROOT_pre}?>/archives/detail.php?id=help">帮助中心</a></li>	
			</ul>
		</div>
		<div class="block10"></div>